body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #444;
}

main {
    min-height: 82.5vh;
}

.container-fluid {
    max-width: 1400px;
}

.navbar-brand > img {
    height: 30px;
}

.mybtn {
    padding: 10px 40px;
    background-color: #749e6f;
    border-radius: 0;
    color: #f2f9f0;
}

.mybtn:hover {
    background-color: #5d8559;
    color: #fff;
}

nav + * {
    margin-top: 56px;
}

.bg-beige {
    background-color: #f9f6f0;
}

.bg-palegreen {
    background-color: #eef2ed;
}

.sectionimgtxt {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.sectionimgtxt img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sectionimgtxt > * {
    width: 100%;
}

.sectionimgtxt .section-img {
    order: 2;
}

.sectionimgtxt .section-content {
    order: 1;
}

.sectionimgtxt > .section-content {
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

section h2 {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
}

.sectionimgtxt .section-img {
    max-height: 300px;
}

.center > .section-content {
    padding: 50px 20px;
    text-align: center;
}

.glider-item {
    position: relative;
}

.glider-item img {
    margin-bottom: 20px;
}

.glider-item-text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.gototop {
    position: fixed;
    display: none;
    background: #749e6f;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.gototop i {
    padding-top: 12px;
    color: #fff;
}

#contact-map {
    border: 0;
    width: 100%;
    height: 320px;
}

.glider-item-text:hover {
    background-color: rgb(255 255 255 / 15%);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.page-footer h4 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.page-footer ul > li {
    padding: 4px 0px;
}

.page-footer ul > li > a {
    color: #fff;
}

.page-footer ul > li > a:hover {
    text-decoration: none;
    color: #749e6f;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.social-links a {
    font-size: 18px;
    display: inline-block;
    background: #749e6f;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.social-links a:hover,
.gototop:hover {
    background-color: #5d8559;
}

.signupform {
    width: 100%;
    background-color: #eef2ed;
    padding: 50px 30px;
    max-width: 500px;
    margin: 0 auto;
}

.btn-outline-success {
    color: #749e6f;
    border-color: #749e6f;
}

.btn-success {
    color: #fff;
    background-color: #749e6f;
    border-color: #749e6f;
}

.btn-outline-success:hover {
    color: #fff;
    border-color: #5d8559;
    background-color: #5d8559;
}

.btn-success:hover {
    background-color: #5d8559;
    border-color: #5d8559;
}

#banner {
    width: 100%;
    position: relative;
    background: url(../images/banner-sm.jpg) center top no-repeat;
    background-size: cover;
    padding: 40px 20px 40px 20px;
}

#banner h2 {
    font-size: 23px;
}

#banner .btn {
    padding: 5px 25px;
    font-size: 14px;
}

@media (min-width: 501px) {
    .signupform {
        background-color: #fff;
        margin: 30px auto;
    }

    #banner {
        padding: 70px 10px 70px 10px;
    }

    #banner h2 {
        font-size: 1.8rem;
    }

    #banner .btn {
        padding: 10px 30px;
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .navbar {
        padding: 1rem;
        transition: all 0.5s;
    }

    #banner {
        width: 100%;
        position: relative;
        background: url(../images/banner-md.jpg) center top no-repeat;
        background-size: cover;
        padding: 80px 0 80px 0;
    }
    #banner h2 {
        font-size: 2.3rem;
    }

    #banner .btn {
        font-size: 1.2rem;
        padding: 12px 40px;
    }

    .navbar.header-scrolled {
        box-shadow: 0 0.125rem 0.625rem 0 rgb(0 0 0 / 10%);
        padding: 0.5rem 1rem;
    }
    .nav-link:before {
        background-color: #313232;
        content: "";
        height: 1.5px;
        position: absolute;
        top: calc(50% + 11px);
        transition: width 0.3s;
        width: 0px;
    }

    .nav-link:hover::before {
        width: 25px;
    }

    nav + * {
        margin-top: 72px;
    }

    .sectionimgtxt .section-img {
        max-height: 100%;
    }

    .sectionimgtxt.left .section-img {
        order: 1;
    }

    .sectionimgtxt.left .section-content {
        order: 2;
    }

    .sectionimgtxt.right .section-img {
        order: 2;
    }

    .sectionimgtxt.right .section-content {
        order: 1;
    }

    .sectionimgtxt img {
        height: 500px;
        object-fit: cover;
    }

    .sectionimgtxt > * {
        width: 50%;
    }

    section h2 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    .sectionimgtxt p {
        font-size: 1.1em;
    }

    .center > .section-content {
        padding: 50px 30px;
        text-align: center;
    }
}

@media (min-width: 909px) {
    section h2 {
        font-size: 3rem;
    }

    #banner {
        width: 100%;
        position: relative;
        background: url(../images/banner-xl.jpg) center top no-repeat;
        background-size: cover;
        padding: 140px 0 140px 0;
    }
    #banner h2 {
        font-size: 2.8rem;
    }

    #banner .btn {
        font-size: 1.3rem;
        padding: 15px 45px;
    }
}
